/* website-link 
https://www.figma.com/design/OlIPrzqQJrdybpZJ0UyxMK/eCommerce-Website-%7C-Web-Page-Design-%7C-UI-KIT-%7C-Interior-Landing-Page--Community-?node-id=152-1946&t=UUsZsPSUA3l01bni-0 */

*{
    padding: 0;
    margin: 0;
}


.navbar{
    width: 100%;
background-color: rgb(236, 147, 214);
height: 100px;
}


.sec1{
width: 100%;
background-color: aqua;
height: 200px;
}







